body {
    font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/scc?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/scc?family=Merriweather:400,700");

body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 32px;
}

article {
    background-color: rgb(217, 232, 245);
    margin-bottom: 10px;
    padding: 0.4em;
}

article h4 {
    color: red;
}

article img {
    max-width: 800px;
}